@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #0a0a0a;
  --highlight: #388137;
}

[data-theme="dark"] {
  --background: #0a0a0a;
  --foreground: #ededed;
  --highlight: #58b658;
}

html {
  visibility: hidden;
}
html[data-theme] {
  visibility: visible;
}

body,
.skill_bubbles,
.skill_container {
  color: var(--foreground);
  background: var(--background);
}

.cvPicture {
  overflow: hidden;
  border-radius: 100%;
  width: 300px;
  height: 300px;
}

.cvPicture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bg-hightlight {
  background-color: #2b612b;
  color: #ffff;
}

.hightlight {
  color: var(--highlight);
}
.dotArea {
  display: flex;
  justify-content: flex-end;
}

.dot {
  background: #ffc107;
  height: 10px;
  width: 10px;
  display: block;
  margin: 7px;
  border-radius: 100%;
}
.dot:first-child {
  background-color: #198754;
}
.dot:last-child {
  background-color: #dc3545;
}

u {
  text-decoration-color: var(--highlight);
  text-decoration-thickness: from-font;
  text-underline-offset: 3px;
}

.timeline {
  left: 0;
}

@media (min-width: 640px) {
  .timeline {
    left: 50%;
  }
}

.timeline_bubbles {
  background: var(--background);
}

.md_content p {
  margin: 1rem 0;
}

.md_content h1,
.md_content h2,
.md_content h3,
.md_content h4,
.md_content h5,
.md_content h6 {
  font-size: revert;
  font-weight: revert;
}

.toggle-menu {
  width: 1rem;
}
#cookiescript_badge {
  background: var(--background) !important;
}
.cookiescriptlogo {
  fill: var(--foreground) !important;
}
